@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?4nd0wz');
    src:  url('fonts/icomoon.eot?4nd0wz#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?4nd0wz') format('truetype'),
      url('fonts/icomoon.woff?4nd0wz') format('woff'),
      url('fonts/icomoon.svg?4nd0wz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-laser:before {
    content: "\e900";
  }
  .icon-stopcock:before {
    content: "\e901";
  }
  .icon-pipe:before {
    content: "\e902";
  }
  .icon-pipes:before {
    content: "\e903";
  }

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 0 25px;
    text-align: center;
}

nav .logo {
    padding: 10px 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav ul a {
    box-sizing: border-box;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    height: 100%;
    border-bottom: 2px solid transparent;
}

nav ul a:hover {
    border-bottom-color: #dfdfff;
}

#intro {
    min-height: 400px;
    text-align: center;
    background-color: #f8f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro h1 {
    text-shadow: 1px 1px 2px gray;
    max-width: 90%;
}

#intro p {
    text-transform: uppercase;
    font-size: 13px;
    color: darkgray;
}

section {
    padding: 25px;
}

section header {
    text-align: center;
    padding: 25px auto;
}

section h2 {
    display: inline-block;
    padding: 5px;
    border-bottom: 2px solid #dfdfff;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.card-list .card {
    box-sizing: border-box;
    padding: 10px;
    flex: 1 1 50%;
    text-align: center;
}

.card-list .card [class*=icon] {
    font-size: 50px;
    color: gray;
}

.card-list .card p,
.card-list .card ul {
    text-align: left;
}

#contacts {
    padding-left: 0;
    padding-right: 0;
}

#contacts header {
    padding-left: 25px;
    padding-right: 25px;
}

.contacts-info {
    padding: 0 25px;
}

footer {
    background-color: gray;
    padding: 25px;
    color: #fff;
}

footer span {
    display: block;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
    }

    nav ul {
        justify-content: flex-end;
    }

    #intro h1 {
        max-width: 50%;
    }

    footer span {
        display: inline;
    }

    .card-list {
        flex-wrap: nowrap;
    }

    .card-list .card {
        flex: 1 1 25%;
    }
}