@import 'normalize.css';

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?4nd0wz');
    src:  url('fonts/icomoon.eot?4nd0wz#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?4nd0wz') format('truetype'),
      url('fonts/icomoon.woff?4nd0wz') format('woff'),
      url('fonts/icomoon.svg?4nd0wz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.icon-logo:before {
    content: "\e904";
}
.icon-laser:before {
    content: "\e900";
}
.icon-stopcock:before {
    content: "\e901";
}
.icon-pipe:before {
    content: "\e902";
}
.icon-pipes:before {
    content: "\e903";
}

html * {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

.page-wrapper {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1100px;
}

nav {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-align: center;
    z-index: 1;
}

nav .logo {
    padding: 15px 0;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

nav .logo:hover,
nav .logo:focus {
    color: inherit;
    text-decoration: none;
}

nav .logo img {
    max-width: 35px;
    height: auto;
    display: block;
    margin-right: 10px;
}

nav ul {
    align-self: stretch;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav ul a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
    height: 100%;
    border-bottom: 2px solid transparent;
}

nav ul a:hover {
    border-bottom-color: #b63422;
    background-color: #38100a;
    transition: all linear 0.2s;
}

#intro {
    color: #fff;
    min-height: 400px;
    text-align: center;
    background-color: #f8f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./images/valve-3672145_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    margin-bottom: 25px;
}

#intro .page-wrapper {
    z-index: 1;
}

#intro::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
}

#intro h1 {
    text-shadow: 1px 1px 2px gray;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#intro p {
    text-transform: uppercase;
    font-size: 14px;
    color: lightgray;
}

section {
    padding: 25px 0;
}

section:last-child {
    padding-bottom: 0;
}

section header {
    text-align: center;
    padding: 25px auto;
}

section h2 {
    display: inline-block;
    padding: 5px;
    border-bottom: 2px solid #b63422;
    margin-bottom: 50px;
    margin-top: 0;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.card-list .card {
    box-sizing: border-box;
    padding: 15px;
    flex: 1 1 100%;
    text-align: center;
}

.card-list .card [class*=icon] {
    font-size: 60px;
    color: #b63422;
    margin-bottom: 15px;
}

.card-list .card p,
.card-list .card ul {
    text-align: left;
}

.card-list .card p:last-child {
    margin-bottom: 0;
}

#contacts {
    padding-left: 0;
    padding-right: 0;
}

#contacts header {
    padding-left: 25px;
    padding-right: 25px;
}

.contacts-info-prop {
    margin: 0 0 5px;
    font-weight: bold;
}

.contacts-info-value {
    margin: 0 0 25px;
}

footer {
    background-color: gray;
    padding: 25px 0;
    color: #fff;
}

footer span {
    display: block;
    text-align: center;
}

@media only screen and (min-width: 450px) {
    .card-list .card {
        flex: 1 1 50%;
    }
}

@media only screen and (min-width: 768px) {
    .page-wrapper {
        padding: 0 50px;
    }

    nav .page-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        justify-content: flex-end;
    }

    #intro h1 {
        max-width: 70%;
    }

    footer span {
        display: inline;
    }
}

@media only screen and (min-width: 1024px) {
    nav {
        position: sticky;
        top: 0;
    }

    .card-list {
        flex-wrap: nowrap;
    }

    .card-list .card {
        flex: 1 1 25%;
        padding-top: 0;
        padding-bottom: 0;
    }
}